
<br/>
<div style="margin-left: 80px">
  <table style="width: auto; table-layout: fixed">
    <tbody>
    <tr>
      <td style="font-size: 12px">English(UK)</td>
      <td style="width: 50px;"><a href="#">Hindi</a></td>
      <td style="width: 60px;"><a href="#">Punjabi</a></td>
      <td style="width: 45px;"><a href="#">Urdu</a></td>
      <td style="width: 60px;"><a href="#">Gujrati</a></td>
      <td style="width: 65px;"><a href="#">Bengali</a></td>
      <td style="width: 50px;"><a href="#">Tamil</a></td>
      <td style="width: 60px;"><a href="#">Telugu</a></td>
      <td style="width: 90px;"><a href="#">Malayalam</a></td>
      <td style="width: 80px;"><a href="#">Kannada</a></td>
      <td style="width: 80px;"><a href="#">Espanyol</a></td>
      <td><button>+</button></td>
    </tr>
    </tbody>
  </table>
</div>

<table class="secondTable" align="center">
  <tbody>
    <tr>
      <td><a href="#">Sign Up</a></td>
      <td><a href="#">Log In</a></td>
      <td><a href="#">Messenger</a></td>
      <td><a href="#">Facebook Lite</a></td>
      <td><a href="#">Mobile</a></td>
      <td><a href="#">Find Friends</a></td>
      <td><a href="#">People</a></td>
      <td><a href="#">Pages</a></td>
      <td><a href="#">Places</a></td>
      <td><a href="#">Games</a></td>
      <td><a href="#">Location</a></td>
    </tr>
    <tr>
      <td><a href="#">Celebrities</a></td>
      <td><a href="#">Marketplace</a></td>
      <td><a href="#">Groups</a></td>
      <td><a href="#">Recipies</a></td>
      <td><a href="#">Sports</a></td>
      <td><a href="#">Look</a></td>
      <td><a href="#">Moments</a></td>
      <td><a href="#">Instagram</a></td>
      <td><a href="#">About</a></td>
      <td><a href="#">Create ad</a></td>
      <td><a href="#">Create page</a></td>
    </tr>
    <tr>
      <td><a href="#">Developers</a></td>
      <td><a href="#">Careers</a></td>
      <td><a href="#">Privacy</a></td>
      <td><a href="#">Cookies</a></td>
      <td><a href="#">AdChoices</a></td>
      <td><a href="#">Terms</a></td>
      <td><a href="#">Help</a></td>
    </tr>
  </tbody>
</table>
