<div class="container-fluid">
  <div class="row navBarRow">
    <div class="col-lg-3 col-md-3 col-sm-3 mainDiv">
      <img class="facebookLogo" src="assets/facebook-logo3.png">
      <!--<h1><strong>facebook</strong></h1>-->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 mainDiv">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 mainDiv inputNavbar">
      <form action="javascript:void(0)">
        <div style="float: left; margin-right: 20px">
          <label for="username">Email or Phone</label>
          <!--<br/>-->
          <input class="inputDiv" id="username" type="text">
        </div>
        <div style="float: left; margin-right: 20px">
          <label for="password">Password</label>
          <!--<br/>-->
          <input class="inputDiv" id="password" type="text">
          <a href="#">Forgotten Account?</a>
        </div>
        <br/>
        <input id="submitButton" type="submit" value="Log In">
      </form>
    </div>
  </div>
</div>
